<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>深圳二手房价信息系统</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/shenzhen.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
</head>
<body>
    <div>
        <div id="head">杨艺、夏子欣、曾创杰（组）</div>
        <div id="title" align="center">深圳二手房价信息系统</div>
        <div id="time"></div>
        <div id="left1"></div>
        <div id="left2"></div>
        <div id="left3"></div>
        <div id="center1">
            <div class="num">
                <h1></h1>
            </div>
            <div class="num">
                <h1></h1>
            </div>
            <div class="num">
                <h1></h1>
            </div>
            <div class="num">
                <h1></h1>
            </div>
            <div class="txt">
            <h2>二手房信息量</h2>
            </div>
            <div class="txt">
                <h2>最低房价</h2>
            </div>
            <div class="txt">
                <h2>平均房价</h2>
            </div>
            <div class="txt">
                <h2>房价最低地区</h2>
            </div>
        </div>
        <div id="center2"></div>
        <div id="right1"></div>
        <div id="right2"></div>
    </div>
    <script src="../static/js/tools.js"></script>
    <script src="../static/js/center2.js"></script>
    <script src="../static/js/left1.js"></script>
    <script src="../static/js/left2.js"></script>
    <script src="../static/js/right1.js"></script>
    <script src="../static/js/right2.js"></script>
    <script src="../static/js/left3.js"></script>

    
</body>
</html>

